@use '../../styles/variables' as *;

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: $font-timer-heavy;
  color: $color-green;
  font-size: 27px;
  margin-top: 20px;

  &__number {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    &--hours::after {
      content: 'hours(s)';
    }

    &--minutes::after {
      content: 'minute(s)';
    }

    &--seconds::after {
      content: 'second(s)';
    }

    &--hours, &--minutes, &--seconds {
      &::after {
        text-transform: uppercase;
        position: absolute;
        font-family: $font-timer;
        font-size: 6px;
        line-height: 9px;
        top: 30px;
      }
    }

    
  }
}