@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  width: 100%;
  z-index: 1000;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding-bottom: 8px;
    background-color: $color-white;

    @include onDesktop {
      margin-top: 12px;
      padding-bottom: 12px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;

    img {
      width: 100%;
      height: auto;
    }

    @include onDesktop {
      &::after {
        content: "Logo";
        position: absolute;
        left: 58px;
        font-family: $font-logo;
        font-weight: $font-regular;
        font-size: 25px;
        line-height: 23px;
        color: $color-dark-green;
      }
    }
  }

  &__menu {
    display: block;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease;
    }

    &.is-active img {
      transform: rotate(180deg);
    }

    @include onDesktop {
      display: none;
    }
  }

  &__devider {
    border-bottom: 1px solid rgba($color: $color-black, $alpha: 0.2);

    @include onDesktop {
      display: none;
    }
  }

  &__nav {
    @include onDesktop {
      padding: 0;
    }

    &-list {
      list-style-type: none;

      @include onDesktop {
        display: flex;
        align-items: center;
        gap: 24px;
      }

      li {
        padding: 15px 0;
        border-bottom: 1px solid rgba($color: $color-black, $alpha: 0.05);
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 0.7;
        }

        @include onDesktop {
          padding: 0;
          border: 0;
        }
      }
    }

    &-link {
      width: 100%;
      text-align: left;
      font-weight: $font-medium;
      cursor: pointer;
    }
  }

  &__button {
    display: flex;
    margin-top: 67px;

    @include onDesktop {
      margin-top: 0;
      margin-left: 72px;
    }
  }
}

.menu {
  position: fixed;
  top: 66px;
  left: 0;
  right: 0;
  height: calc(100vh - 66px);
  background-color: $color-white;
  z-index: 999;

  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  overflow-y: auto;

  &.is-open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  @include onDesktop {
    position: static;
    height: auto;
    transform: none;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    display: flex;
    align-items: center;
  }
}
